.completed-list-header {
    position: absolute;
    right: 300px;
}

.completed-container {
    max-height: 55vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: absolute;
    right: -20px;
}

.completed-container::-webkit-scroll {
    display: none;
}

.completed-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 5px;
    border-bottom: 1px rgba(0, 0, 0, 0.052) solid;
}

.completed-item:hover {
    border: 1px rgb(228, 226, 226) solid;
    box-shadow: 0px 1px 1px 1px rgba(226, 220, 220, 0.8);
    border-radius: 6px;
}

.completed-item_text {
    max-width: 590px;
}

.completed-list {
    height: 50%;
    position: relative;
}

.todo-list-header {
    position: absolute;
    left: 300px;
}

.todos-container {
    max-height: 55vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position:absolute;
    left: -20px;

}

.todos-container::-webkit-scrollbar {
    display: none;
}

.todo-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 5px;
    border-bottom: 1px rgba(0, 0, 0, 0.052) solid;

}

.todo-item:hover {
    border: 1px rgb(228, 226, 226) solid;
    box-shadow: 0px 1px 1px 1px rgba(226, 220, 220, 0.8);
    border-radius: 6px;
}

.completed {
    color: rgb(169, 169, 169);
    text-decoration: line-through;
}

.todo-item__text {
    max-width: 590px;
}

.todo-item__check {
    display: flex;
    flex-shrink: 0;
    border: 2px solid #eee;
    border-radius: 30%;
    height: 2em;
    width: 2em;

    margin-right: 20px;
    transition: background-color 0.3s ;
}

.todo-item:hover .todo-item__check{
    background-color: lightgray;

}

.todo-item__check:hover .icon{
    opacity: 1;
}

.todo-list {
    height: 50%;
    position: relative;
}


.todo-item.completed .todo-item__check {
    background-color: #E1B42B;
}

.todo-item.completed .todo-item__check .icon {
    opacity: 0.6;
}

.todo-item__edit-delete-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: 0;
    margin-right: 5px;
}


.icon--edit {
    height: 1.5em;
}

.icon--edit:hover{
    opacity: 1;
}

.icon--edit:active {
    background-color: #242424;
    border-radius: 6px;
}

.icon--delete {
    height: 1.5em;
}

.icon--delete:hover {
    opacity: 1;
}

.icon--delete:active {
    background-color: red;
    border-radius: 6px;
}

.todo-item:hover .todo-item__edit-delete-icons .icon {
    transition-delay: 0.3s;
}




