<main>
  <section class="todos">
    <h3 class="todo-list-header">Todo List</h3>
    <div class="todos-container container">
      <div class="todo-list">
        <div class="todo-item">
          <div class="todo-item__check">
            <img
              class="icon"
              src="../../assets/check.png"
              alt="check mark icon"
            />
          </div>
          <div class="todo-item__text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi
            corrupti deserunt assumenda, adipisci sapiente, saepe vel soluta, ad
            perferendis animi iusto accusantium cupiditate distinctio sint
            fugiat. Animi expedita nulla earum. Possimus temporibus vel facere
            porro saepe odio ea architecto fugiat neque enim minus nam quaerat
            non, ipsa iure ab incidunt autem blanditiis provident. Incidunt
            reiciendis dolorem iure dicta? Facere, eum.
          </div>
          <div class="todo-item__edit-delete-icons">
            <img class="icon icon--edit" src="../../assets/edit.png" alt="" />
            <img
              class="icon icon--delete"
              src="../../assets/delete.png"
              alt=""
            />
          </div>
        </div>
        <div class="todo-item">
          <div class="todo-item__check">
            <img
              class="icon"
              src="../../assets/check.png"
              alt="check mark icon"
            />
          </div>
          <div class="todo-item__text">How do I look?</div>
          <div class="todo-item__edit-delete-icons">
            <img class="icon icon--edit" src="../../assets/edit.png" alt="" />
            <img
              class="icon icon--delete"
              src="../../assets/delete.png"
              alt=""
            />
          </div>
        </div>
        <div class="todo-item completed">
          <div class="todo-item__check">
            <img
              class="icon"
              src="../../assets/check.png"
              alt="check mark icon"
            />
          </div>
          <div class="todo-item__text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi
            corrupti deserunt assumenda, adipisci sapiente, saepe vel soluta, ad
            perferendis animi iusto accusantium cupiditate distinctio sint
            fugiat. Animi expedita nulla earum. Possimus temporibus vel facere
            porro saepe odio ea architecto fugiat neque enim minus nam quaerat
            non, ipsa iure ab incidunt autem blanditiis provident. Incidunt
            reiciendis dolorem iure dicta? Facere, eum.
          </div>
          <div class="todo-item__edit-delete-icons">
            <img class="icon icon--edit" src="../../assets/edit.png" alt="" />
            <img
              class="icon icon--delete"
              src="../../assets/delete.png"
              alt=""
            />
          </div>
        </div>
        <div class="todo-item">
          <div class="todo-item__check">
            <img
              class="icon"
              src="../../assets/check.png"
              alt="check mark icon"
            />
          </div>
          <div class="todo-item__text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi
            corrupti deserunt assumenda, adipisci sapiente, saepe vel soluta, ad
            perferendis animi iusto accusantium cupiditate distinctio sint
            fugiat. Animi expedita nulla earum. Possimus temporibus vel facere
            porro saepe odio ea architecto fugiat neque enim minus nam quaerat
            non, ipsa iure ab incidunt autem blanditiis provident. Incidunt
            reiciendis dolorem iure dicta? Facere, eum.
          </div>
          <div class="todo-item__edit-delete-icons">
            <img class="icon icon--edit" src="../../assets/edit.png" alt="" />
            <img
              class="icon icon--delete"
              src="../../assets/delete.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="Completed">
    <h3 class="completed-list-header">Completed List</h3>
    <div class="completed-container container">
      <div class="completed-list">
        <div class="completed-item">
          <div class="todo-item__check">
            <img
              class="icon"
              src="../../assets/check.png"
              alt="check mark icon"
            />
          </div>
          <div class="completed-item__text">
            Make a call to the John Snow explaining why I wasnt able to help
            him in fighting off the white walkers.
          </div>
          <div class="todo-item__edit-delete-icons">
            <img class="icon icon--edit" src="../../assets/edit.png" alt="" />
            <img
              class="icon icon--delete"
              src="../../assets/delete.png"
              alt=""
            />
          </div>
        </div>
        <div class="completed-item">
          <div class="todo-item__check">
            <img
              class="icon"
              src="../../assets/check.png"
              alt="check mark icon"
            />
          </div>
          <div class="completed-item__text">
            Go to the airport and pick up best friend!
          </div>
          <div class="todo__edit-delete-icons">
            <img class="icon icon--edit" src="../../assets/edit.png" alt="" />
            <img
              class="icon icon--delete"
              src="../../assets/delete.png"
              alt=""
            />
          </div>
        </div>
        <div class="completed-item">
          <div class="todo-item__check">
            <img
              class="icon"
              src="../../assets/check.png"
              alt="check mark icon"
            />
          </div>
          <div class="completed-item__text">
            Look for a suite for my sister's wedding!!
          </div>
          <div class="todo-item__edit-delete-icons">
            <img class="icon icon--edit" src="../../assets/edit.png" alt="" />
            <img
              class="icon icon--delete"
              src="../../assets/delete.png"
              alt=""
            />
          </div>
        </div>
        <div class="completed-item">
          <div class="todo-item__check">
            <img 
              class="icon"
              src="../../assets/check.png"
              alt="check mark icon"
            />
          </div>
          <div class="completed-item__text">
            Wake up at 4am and go to the gym to get your day
            started early.
          </div>
          <div class="todo-item__edit-delete-icons">
            <img class="icon icon--edit" src="../../assets/edit.png" alt=""/>
            <img 
              class="icon icon--delete"
              src="../../assets/delete.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
