h3 {
    size: 1.2em;

}

.todos {
    margin: auto;
    width: 100%;
}

.todos-container {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 2em;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 16px;
}

.active {
    display: inline-block;
    min-width: 500px;
}

.todo-item__text {
    max-width: 550px;
}

.todo-item__check {
    display: flex;
    flex-shrink: 0;
    border: 2px solid #eee;
    border-radius: 30%;
    height: 2em;
    width: 2em;

    margin-right: 20px;
    transition: background-color 0.3s;
}

.todo-item:hover .todo-item__check {
    background-color: #9e7c0c;

}

.todo-item__check:hover .icon {
    opacity: 1;
}

.todo-item:active .todo-item__check  {
    background-color: #E1B42B;

}

.todo-list {
    height: auto;
    position: relative;
}


.todo-item.completed .todo-item__check .icon {
    opacity: 0.6;
}

.todo-item__edit-delete-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: 0;
    margin-right: 5px;
}


.icon--edit {
    height: 1.5em;
}

.icon--edit:hover {
    opacity: 1;
}

.icon--edit:active {
    background-color: #242424;
    border-radius: 6px;
}

.icon--delete {
    height: 1.5em;
}

.icon--delete:hover {
    opacity: 1;
}

.icon--delete:active {
    background-color: red;
    border-radius: 6px;
}

.todo-item:hover .todo-item__edit-delete-icons .icon {
    transition-delay: 0.3s;
}

.todo-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 5px;
    border-bottom: 1px rgba(0, 0, 0, 0.052) solid;
    max-width: 600px;

}

.todo-item:hover {
    border: 1px rgb(228, 226, 226) solid;
    box-shadow: 0px 1px 1px 1px rgba(226, 220, 220, 0.8);
    border-radius: 6px;
}

.todo-title {
    display: flex;
    border-bottom: #242424 solid 1px;
    align-items: center;
    justify-content: space-between;

}

.todo-title h3 {
    margin: 10px 0px 10px 0px;
}

.todo-list--buttons {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;

}

.todo-title button {
    border-radius: 4px;
    border: #24242455 solid 1px;
}


.completed {
    display: block;
    min-width: 500px;
}

.completed .todo-item__check{
 background-color: #E1B42B;
}

.completed .todo-item__check .icon {
    opacity: 1;
}

.completed .todo-item:hover .todo-item__check {
    background-color: #9e7c0c;
    opacity: 0.5
    
}

.completed .todo-item__check:hover .icon {
    opacity: 0;
}

.completed .todo-item:active .todo-item__check  {
    background-color: lightgray;

}