<section class="todos">
    <div class="todos-container">

        <div class="active list">
            <div class="todo-title">

                <h3>TODO List</h3>
            </div>
            <div class="scrollable">
                <div class="todo-list" *ngFor="let todo of todos">
                    <div class="todo-item" (click)="flipCompleted(todo)" *ngIf="todo.isCompleted === false">
                        <div class="todo-item__check">
                            <img class="icon" src="../../assets/check.png" alt="check mark icon"/>
                        </div>
                        <div class="todo-item__text">
                            {{todo.text}}
                        </div>
                        <div class="todo-item__edit-delete-icons" (click)="$event.stopPropagation()">
                            <img class="icon icon--edit" (click)="editTodo(todo)" src="../../assets/edit.png" alt=""/>
                            <img class="icon icon--delete" (click)="deleteTodo(todo)" src="../../assets/delete.png" alt=""/>
                        </div>
                    </div>
                    <div class="edit-field" (keyup.enter)="updatingTodo(editItem.value, todo)" *ngIf="todo.isEditable === true && !todo.isCompleted">
                        <textarea [ngModel]="todo.text" #editItem></textarea>
                        <div class="edit-field--update-buttons">
                            <button class="todo-add-form__button" (click)="updatingTodo(editItem.value, todo)">UPDATE</button>
                            <button class="todo-add-form__button" (click)="cancelEdit(todo)">CANCEL</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="completed list">
            <div class="todo-title">
                <h3>COMPLETED List</h3>
                <button class="todo-add-form__button" (click)="flipAllActive(todos)">MAKE ALL ACTIVE</button>
            </div>
            <div class="scrollable">
                <div class="todo-list" *ngFor="let todo of todos">
                    <div class="todo-item" (click)="flipCompleted(todo)" *ngIf="todo.isCompleted === true">
                        <div class="todo-item__check">
                            <img class="icon" src="../../assets/check.png" alt="check mark icon"/>
                        </div>
                        <div class="todo-item__text">
                            {{todo.text}}
                        </div>
                        <div class="todo-item__edit-delete-icons"  (click)="$event.stopPropagation()">
                            <img class="icon icon--edit" (click)="editTodo(todo)" src="../../assets/edit.png" alt=""/>
                            <img class="icon icon--delete" (click)="deleteTodo(todo)" src="../../assets/delete.png" alt=""/>
                        </div>
                    </div>
                    <div class="edit-field" (keyup.enter)="updatingTodo(editedItem.value, todo)" *ngIf="todo.isEditable === true && todo.isCompleted">
                        <textarea id="todo-text" [value]="todo.text" #editedItem [ngModel]="todo.text"></textarea>
                        <div class="edit-field--update-buttons">
                            <button class="todo-add-form__button" (click)="updatingTodo(editedItem.value, todo)">UPDATE</button>
                            <button class="todo-add-form__button" (click)="cancelEdit(todo)">CANCEL</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
